
.options {
    flex-basis: 43%;
    flex-wrap: wrap;
    margin: 0 2rem;
    border: 1px dashed dodgerblue;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.25rem 0.25rem 0.5rem rgb(143, 143, 143);
}

.menus {
    display: flex;
    flex-wrap: wrap;

}
